
body {
  font-family: "Montserrat";
}

#title {
  background-color:#2d248a;
  color: #fff;
}

.container-fluid {
/*  padding: 3% 15% */
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  width: 1000px;

  /* padding-left:30%; */

}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-bold";
}

p {
  color:#8f8f8f;
}

/*.edulias {
  width="500";
  height="200";
}
*/
/* Navigation Bar */

.navbar {
  padding-bottom: 2.5rem;
}

.navbar-brand {
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 2rem;
  font-family:"-light"
}

/* Download Button */
.download-button {
  margin:5% 3%  5% 0;
}

/* Title narration */



/*Title image */

/* .title-image {
  background-position: left;
} */

/*.title-image {
  width:60%;
  transform: rotate(25);
}*/

/* Features Section*/
#features {
  padding:7% 15%;
}

.feature-box {
  text-align: center;
  /* padding: 1%; */
  padding-top: 2.5rem;
}

.icon {
  color: #2d248a;
  margin-bottom: 1rem;
}

.icon:hover {
  color:#ff4c68;
}

 /* Testimonial Section */

#testimonials {
   text-align: center;
   background-color: #2d248a;
   color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%; /*to make image round*/
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%; /*7% top and bottom, 15% right and left */
}

#press {
  /* background-color: #2d248a; */
  text-align: center;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
padding:100px;

}
.price-package {
  background-color: #2d248a;
  color: #fff;
  text-align: center;

}

/* Footer section */
.contact-me {
  background-color: #2d248a;
  color: #fff;
  text-align: center;
}

.bottom-container {
  background-color: #2d248a;
  color: #fff;
  /* padding:50px 0 20px;
  margin: 30px; */
  text-align: center;
}
